
<%= simple_form_for @post do |form| %>

  <%= form.input :title, required: true, error: 'Title is mandatory, please specify one' %>
   
  <%= form.input :body, required: true, as: :text, maxlength: 2000, input_html: { :style=> "height: 500px; resize: none;" } %>

  <hr>
  <%= form.input :image, as: :file, class: "custom-file-input" %>

  <hr>
  <%= form.button :submit, class: "btn btn-primary rounded-pill" %>
  <%= link_to 'Cancel', posts_path, class: "btn btn-success rounded-pill" %>
  
<% end %>

