<p id="notice"><%= notice %></p>

<div class="shadow-lg p-3 mb-3 rounded bg-white">
<h1 class="mr-5" >Recents Posts</h1>
<hr>

<%= form_tag(posts_path, method: "get") do %>
    <%= label_tag(:q, "Search for:") %>
    <%= text_field_tag("search") %>
    <%= submit_tag("Search") %>
<% end %>
</div>

<% @posts.each do |post| %>
  <div class="card rounded shadow-lg mb-3">
    <div class="row no-gutters">
        <div class="text-center col-md-4" style="background-color: #c3c3c3">
            <%= image_tag post.image.url(:thumb), :class => "card-img-left" %>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><%= post.title %></h5>

                <p class="card-text">
                    <%= post.body[0,120] %>
                        <% if post.body.size > 120 %>
                            [...]
                            <% end %>
                </p>

            </div>
            <div class="card-body text-right">
                <%= link_to 'Show', post, class: "btn btn-primary rounded-pill" %>
            </div>
            <div class="card-footer text-muted">
                <p class="card-text float-left">Last update: <%= post.updated_at %></p>
            </div>
        </div>
    </div>
  </div>
<% end %>
<%= will_paginate @posts %>
<br>