<p id="notice"><%= notice %></p>

<div>
  <%= link_to 'Back', posts_path, class: "btn btn-primary rounded-pill" %>

  <% if can? :update, @post %>
    <%= link_to 'Edit', edit_post_path(@post), class: "btn btn-warning rounded-pill" %>
  <% end %>

  <% if can? :destroy, @post %>
    <%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger rounded-pill" %>
  <% end %>
</div>

<div class="row">
<div class="card shadow-lg mt-3 col-lg-8">
  <div class="card-body">
    <h1 class="card-title text-center"><%= @post.title %></h1>
    <hr>
    <div class="text-center"><%= image_tag @post.image.url(:medium) %></div>
    <hr>
    <p class="card-text"><%= simple_format(@post.body) %></p>
    <div class="card-footer text-muted">
    <p class="card-text text-center">Last update: <%= @post.updated_at %></p>
    </div>
  </div>
</div>

<div class="card shadow-lg mt-3 ml-lg-3 col-lg-3">
  <div class="card-body text-center">
    <h5 class="card-title">User: <%= @post.user.nick %></h5>
    <hr>
    <p class="card-text"><%= @post.user.state %></p>
    <p class="card-text"><%= @post.user.city %></p>
    <p class="card-text"><%= @post.user.neighborhood %></p>
    <hr>
    <p class="card-text"><%= @post.user.phoneNumber %></p>
    <p class="card-text"><%= @post.user.email %></p>
  </div>
</div>
</div>