<!DOCTYPE html>
<html>

<head>
    <title>Ep3</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>

<body style="background-color: #f2f4f8;">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <%= link_to 'Home', posts_path, class: "navbar-brand" %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent" >
          <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>
                <li class="nav-item dropdown dropleft text-right">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <%= current_user.email %>
                    </a>
                    <div class="dropdown-menu mb-3" aria-labelledby="navbarDropdown">
                        <p class="dropdown-item"><%= current_user.nick %></p>
                        <hr>
                        <%= link_to 'My posts', posts_path(:myposts => current_user.id), class: "dropdown-item" %>
                        <%= link_to 'Edit profile', edit_user_registration_path, class: "dropdown-item" %>
                        <div class="dropdown-divider"></div>
                        <%= link_to 'Quit', destroy_user_session_path, class: "dropdown-item", method: :delete %>
                    </div>
                </li>
                <%= link_to 'New Post', new_post_path, class: "btn btn-primary rounded-pill" %>
          <% else %>
            <li class="nav-item">
              <%= link_to 'Log in', user_session_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to 'Sign up', new_user_registration_path, class: "nav-link" %>
            </li>
            <%= link_to 'New Post', user_session_path, class: "btn btn-primary rounded-pill" %>
          <% end %>  
          </ul> 
        </div>
    </nav>

    <div class="container mt-5 mb-5">
        <%= yield %>
    </div>

</body>

</html>