<div class="shadow-lg rounded p-5">
<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <%= f.input :nick, required: true %>
    <%= f.input :phoneNumber %>
    <%= f.input :zipcode %>
    <%= f.input :state, required: true %>
    <%= f.input :city, required: true %>
    <%= f.input :neighborhood %>
    
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up", :class => "btn btn-primary rounded-pill float-right" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
</div>
